.liste-films {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    background-image: linear-gradient(to bottom, $gray-light, $gray-light, $white-white);
    flex-basis: 32%;
    padding: 20px;
    height: 700px;
    border-radius:10px;

    margin: 20px 0;


    display: flex;
    flex-direction: column;
    align-items: center;

    position:relative;

    transition : background-color 3s;

    &:hover {
      background-image: linear-gradient(to bottom, $gray-light, $gray-light, $white);
    }
    &:hover>div.image{
      opacity: 0.5;
    }
    &:hover>div.texteHover {
       visibility: visible;
       opacity: 1;
     }

    h3{
      position:absolute;
      top:0;
      z-index:3;
    }

    div.image {
      width:70%;
      height:300px;
      border-radius : 10px;
      overflow:hidden;
      opacity:1;

      transition : opacity 1s;
      img {
        background-image: linear-gradient(to bottom, $black, rgba(0, 0, 0, 0));
        border-radius : 10px;
        height: 100%;
      }
    }
  }
  div.texteHover {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    height: 150px;
    h3, p {
      text-align: center;
      color: $black;
    }
    a{
      text-align:right;
    }
  }
}

@media screen and (min-width: $breakpoint-md){

}





