footer {
  background-color: $black;
  display: flex;
  height:150px;
  padding: 25px;
  align-items: center;
  justify-content: space-between;

  div.wrapper {
    margin: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div.movieDB {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        width: 80px;
      }

      div.medias {
        display: flex;
        width: 30%;
        margin-left: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        div {
          color: $gray;
          font-size: 250%;
          padding: 5px;

          &:nth-child(1):hover i {
            color: $color-facebook;
          }
          &:nth-child(2):hover i {
            color: $color-youtube;
          }
          &:nth-child(3):hover i {
            color: $color-instagram;
          }
        }
      }
    }

    div.auteurs {
      margin-right: 10%;
      h3 {
        width: 100%;
        font-family: $ff-normal;
        font-weight: 700;
        margin: 0 30px 5px 20px;
        font-size: rem(16);
        color: $gray;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}

div.retour {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 30px;
  right: 5vw;

  height: 50px;
  width: 50px;

  background-color: rgba(255, 255, 255, 0.8);

  border: solid 4px $gray;
  border-radius: 50%;

  z-index: 1;
}
div.retour:hover {
  color: $black;
  border-color: $yellow-dark;
}



//@media screen and (max-width: $breakpoint-md) {
//  div.wrapper {
//    flex-direction: row;
//    div.medias {
//      flex-direction: row;
//    }
//  }
//}