// LES STYLES DE BASE DES BALISES <h>


h1{
  font-size: rem(36);
  font-family: 'Arbutus Slab', serif;
  color: $gray-dark;
}


h2{
  font-size: rem(20);
  font-weight: bold;
  margin:0;
}

h3{
  font-size: rem(28);
  font-weight:bold;
}
