//STYLE DE NOTRE HEADER

.header-page {
  background-image: linear-gradient(to bottom right, $yellow-light-lighten, $yellow-light);

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:white;

    a.logo{
      display:flex;
      align-items: center;
      justify-content: space-between;

      img{
        height: 125px;
        width: auto;
        margin: 20px;
      }

      h1{
        //font-size: 36px;
      }
    }

    a:hover{
      text-decoration: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      text-align: center;
      font-size: 20px;


      li {
        padding:20px;
        a:link{
          color: $gray-dark;
          font-weight: bold;
        }
        a:visited{
          color: $gray-dark;
          font-weight: bold;
        }
      }
    }
  }

  .show-menu {
    display: block;
    text-align: center;
    color: white;
    padding: 10px 0;
  }

  .toggle-menu {
    display: none;
    &:checked + ul {
      display: block;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {

  .header-page {

    nav {
      flex-direction: row;

      ul {
        display: flex;
        flex-direction: row;

        li {
          display: block;
        }
        i.hamburger {
          display: none;
        }
      }
      .show-menu {
        display: none;
      }
      .toggle-menu {
        display: none;
      }
    }
  }

}


@media screen and (max-width: $breakpoint-md) {

  .header-page {

    nav {

      flex-direction: column;

      ul {
        display: flex;
        flex-direction: column;

        li {
          display: none;
        }
        i.hamburger {
          display: block;
        }
      }
      .show-menu {
        display: none;
      }
      .toggle-menu {
        display: none;
      }

    }

  }

}