//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base
$white-white: #fff;
$white:       #eee;
$gray-light:  #ccc;
$gray:        #777;
$gray-dark:   #444;
$black:       #222;
$black-black: #000;

$yellow-light:  #FFD900;
$yellow-light-lighten:   lighten($yellow-light, 25%);
$yellow-light-darken:   darken($yellow-light, 10%);



$yellow-dark:   #EABE03;
$yellow-dark-lighten:   lighten($yellow-dark, 25%);
$yellow-dark-darken:   darken($yellow-dark, 10%);




$color-text-normal: $black;

$color-bg-page: $white-white;

$color-bg-light:  $gray-light;
$color-bg-dark:   $gray;

$color-title-light: $gray-dark;
$color-title-dark:  $black;

$color-link:          $gray;
$color-link-visited:  $color-link;
$color-link-hover:    lighten($color-link, 25%);
$color-link-active:   darken($color-link, 15%);
$color-link-focus:    $color-link;


//Couleurs pour formulaire
$base-input-placeholder-color:      #999;
$base-input-color:                  #222;
$base-input-background-color:       #eee;
$base-input-background-focus-color: #eee;
$base-input-border-color:           #ccc;
$base-input-border-focus-color:     #222;



//Couleurs des médias sociaux
$color-facebook:    #3b5999;
$color-messenger:   #0084ff;
$color-twitter:     #55acee;
$color-linkedin:    #0077B5;
$color-skype:       #00AFF0;
$color-dropbox:     #007ee5;
$color-wordpress:   #21759b;
$color-vimeo:       #1ab7ea;
$color-slideshare:  #0077b5;
$color-vk:          #4c75a3;
$color-tumblr:      #34465d;
$color-yahoo:       #410093;
$color-googleplus:  #dd4b39;
$color-pinterest:   #bd081c;
$color-youtube:     #cd201f;
$color-stumbleupon: #eb4924;
$color-reddit:      #ff5700;
$color-quora:       #b92b27;
$color-yelp:        #af0606;
$color-weibo:       #df2029;
$color-producthunt: #da552f;
$color-hackernews:  #ff6600;
$color-soundcloud:  #ff3300;
$color-blogger:     #f57d00;
$color-whatsapp:    #25D366;
$color-wechat:      #09b83e;
$color-line:        #00c300;
$color-medium:      #02b875;
$color-vine:        #00b489;
$color-slack:       #3aaf85;
$color-instagram:   #e4405f;
$color-dribbble:    #ea4c89;
$color-flickr:      #ff0084;
$color-foursquare:  #f94877;
$color-behance:     #131418;
$color-snapchat:    #FFFC00;
