//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

$max-width: 1180px;


/// Dimension pour les media query

$breakpoint-sm: 320px;
$breakpoint-md: 580px;
$breakpoint-xm: 640px;
$breakpoint-lg: 760px;
$breakpoint-xl: 1080px;



//Dimension pour formulaire
$base-input-height:         36px;
$base-input-border-size:    1px;
$base-input-border-radius:  10px;
$base-select-box-height:    36px;